body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0b0b0b;
  color:#fff;
}

/* NAVBAR */
.navbar{
  background:#7a0000;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 40px;
}
.logo{
  display:flex;
  align-items:center;
  gap:10px;
  color:gold;
  font-weight:bold;
}
.logo img{
  width:42px;
}
.navbar a{
  color:gold;
  margin-left:20px;
  text-decoration:none;
}

/* HERO */
.hero{
  min-height:90vh;
  background:
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url("./images/hero-bg.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:40px;
}
.hero-content h1{
  color:gold;
  font-size:46px;
}
.hero-content p{
  max-width:420px;
}
.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 28px;
  background:gold;
  color:black;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
}
.hero-img img{
  width:280px;
  border-radius:50%;
  border:3px solid gold;
  box-shadow:0 0 25px gold;
}

/* PACKAGES */
.packages{
  padding:60px 40px;
  text-align:center;
}
.packages h2{
  color:gold;
  margin-bottom:40px;
}
.cards{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}
.card{
  background:#222;
  width:260px;
  padding:25px;
  border-radius:15px;
}
.card img{
  width:60px;
  margin-bottom:15px;
}
.card h3{
  color:gold;
}
.card span{
  display:block;
  margin-top:10px;
  color:gold;
  font-size:20px;
}

/* FOOTER */
.footer{
  background:#7a0000;
  text-align:center;
  padding:20px;
}
body {
  font-family: Arial;
  background: #0b0b1a;
  color: #fff;
  text-align: center;
}

h1 {
  color: gold;
}

.form-box {
  margin: 20px auto;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: gold;
  cursor: pointer;
  font-weight: bold;
}

.kundli-box {
  width: 400px;
  margin: auto;
  border: 2px solid gold;
}
