*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Segoe UI', Arial, sans-serif;
  background:#0b0b0b;
  color:#fff;
  line-height:1.6;
}

/* NAVBAR */
.navbar{
  background:#7a0000;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 30px;
  position:sticky;
  top:0;
  z-index:999;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  color:gold;
  font-size:20px;
  font-weight:700;
}

.logo img{
  width:42px;
}

.navbar nav a{
  color:gold;
  margin-left:20px;
  text-decoration:none;
  font-weight:500;
}

.navbar nav a:hover{
  text-decoration:underline;
}

/* HERO */
.hero{
  min-height:90vh;
  background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.85)),
    url("./images/hero-bg.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:50px;
  flex-wrap:wrap;
}

.hero-content{
  max-width:520px;
}

.hero-content h1{
  color:gold;
  font-size:46px;
  margin-bottom:15px;
}

.hero-content p{
  font-size:17px;
}

.btn{
  display:inline-block;
  margin-top:25px;
  padding:14px 32px;
  background:gold;
  color:#000;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
}

.hero-img img{
  width:280px;
  border-radius:50%;
  border:4px solid gold;
  box-shadow:0 0 35px gold;
}

/* SECTIONS */
.section{
  padding:70px 40px;
  text-align:center;
}

.section h2{
  color:gold;
  font-size:32px;
  margin-bottom:40px;
}

/* CARDS */
.cards{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.card{
  background:#1e1e1e;
  width:280px;
  padding:30px;
  border-radius:18px;
  transition:.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 25px rgba(255,215,0,.4);
}

.card img{
  width:60px;
  margin-bottom:15px;
}

.card h3{
  color:gold;
}

/* CONTACT */
.contact-box{
  max-width:600px;
  margin:auto;
  background:#1e1e1e;
  padding:35px;
  border-radius:18px;
  box-shadow:0 0 25px rgba(255,215,0,.25);
}

.contact-box p{
  font-size:18px;
  margin:12px 0;
}

/* FOOTER */
.footer{
  background:#7a0000;
  text-align:center;
  padding:22px;
  margin-top:60px;
}

/* MOBILE */
@media(max-width:768px){
  .hero{
    padding:30px;
    text-align:center;
  }

  .hero-img{
    margin-top:30px;
  }

  .navbar{
    flex-direction:column;
    gap:10px;
  }

  .navbar nav a{
    margin:0 10px;
  }
}
